<div class="row">
	<div class="span12">
		<h1>Chart</h1>		
		<hr />
		<%= @charts.part %>&nbsp;&nbsp;&nbsp;&nbsp;<%= @charts.position %>
		<br />
		<h5><%= @charts.title %></h5>
		<p><%= @charts.body %></p>
	</div>
</div>