<div class="row">
  
  <div class="span3">
    <%= erb :'admin/navigation', layout: false %>
  </div>
  
  <div class="span9">
    
        
    <h2>Messages</h2>
    <table class="table table-bordered table-striped">
      <thead>
        <th><small>Message</small></th>
        <th><small>Location</small></th>
		  	<th style="text-align: center;"><a href="/admin/messages/new" class="btn btn-success btn-small">New</a></th>
      </thead>
      <tbody>
        <% @messages.each do |m| %>
				<% if m.deleted_at == nil %>
          <tr>
            <td><%= m.body %></td>
            <td style="text-align: left;"><small><% if m.profile == true %>Profile &nbsp;&nbsp; <% end %><% if m.casestudies == true %>CaseStudies &nbsp;&nbsp; <% end %> <% if m.nce == true %>NCE<% end %></small></td>
						<td style="text-align: center;"><a href="/admin/messages/<%= m.id %>/edit" class="btn btn-primary btn-small">Edit</a></td>
          </tr>
        <% end %>
				<% end %>
      </tbody>
    </table>
    
  </div>
</div>